@keyframes logo-stroke {
    0% {
        fill: transparent;
        stroke: #000000;
        stroke-width: 3;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 32%;
    }

    50% {
        fill: transparent;
        stroke: #000000;
        stroke-width: 3;
    }

    80% {
        fill: #000000;
        stroke: transparent;
        stroke-width: 0;
        stroke-dashoffset: -25%;
        stroke-dasharray: 32% 0;
    }

    90% {
        fill: #7e3cff;
    }

    100% {
        fill: #000000;
        stroke: transparent;
        stroke-width: 0;
    }
}