* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree';
}

body {
    height: 100vh;
    /* background: linear-gradient(to bottom, #F4B1A5, #FFDACA 20%); */
}

.container {
    height: 100%;
}

#splash {
    inset: 0;
    z-index: 99;
    display: flex;
    position: fixed;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    transition: opacity .4s ease, visibility .4s ease;
}

#splash .logo {
    height: 10rem;
    transform: translateY(-3rem);
}

#splash #loader {
    width: 16rem;
    transform: translateY(2rem);
    text-align: center;
}

#splash #loader text.text-body {
    font-size: 5rem;
    stroke-width: 2;
    font-weight: 900;
    stroke: #000000;
    text-transform: uppercase;
    font-family: 'Gotham';
    animation: 6s infinite alternate logo-stroke;
}

#splash .tagline {
    font-weight: 700;
}

#splash.invisible {
    opacity: 0;
    visibility: hidden;
}

.navbar {
    height: 7rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.menubar {
    height: 5rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #00000030;
}

nav {
    width: 100%;
    height: 2rem;
    display: inline-flex;
}

.nav-button {
    width: 2rem;
    border: none;
    cursor: pointer;
    color: #ffffff;
    background-color: #000000;
    transition: color .3s ease;
}

.nav-button:hover {
    color: #B42EF2;
}

nav ul {
    list-style: none;
    display: inline-flex;
    width: calc(100% - 4rem);
}

.container-slim {
    margin: 0 30rem;
}

nav ul li {
    width: 20%;
}

nav ul li a {
    height: 100%;
    display: flex;
    color: #1e1e1e;
    font-weight: 600;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    transition: color .3s ease;
}

nav ul li a:hover {
    color: #B42EF2;
}

.nav-logo {
    width: 10%;
    height: 100%;
    margin: auto;
    display: inline-block;
}

.nav-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#header {
    height: 12rem;
    background-color: #000000;
}

#header .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#header .title {
    color: #ffffff;
    font-size: 3.2rem;
    font-family: 'Gotham';
    text-transform: uppercase;
    animation-delay: 6s;
}

#header .tagline {
    color: #B42EF2;
    animation-delay: 6.5s;
}

.messages {
    z-index: 99;
    right: 3rem;
    bottom: 3rem;
    padding: 1rem;
    position: fixed;
    max-width: 22rem;
    list-style: none;
    text-align: center;
    border-radius: 1rem;
    background-color: #ffffff;
    border: 1px solid #00000010;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.messages ion-icon {
    font-size: 2rem;
    fill: #B42EF2;
    margin-bottom: 1rem;
}

.messages li {
    color: #000000;
    /* font-size: 1.2rem; */
    text-align: center;
}

.close-modal {
    top: 1rem;
    right: 1rem;
    border: none;
    cursor: pointer;
    background: none;
    position: absolute;
}

.close-modal ion-icon {
    color: #000000;
    font-size: 1.6rem;
    transition: color .5s ease;
}

.close-modal:hover ion-icon {
    color: #B42EF2;
}