* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Gotham';
}

body {
    height: 100vh;
    background: #f8f8f8;
}

.container {
    height: 100%;
}

.body-container {
    padding: 1rem;
    display: flex;
    column-gap: 1rem;
}

#splash {
    inset: 0;
    z-index: 99;
    display: flex;
    position: fixed;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    transition: opacity .4s ease, visibility .4s ease;
}

#splash .logo {
    height: 16rem;
}

#splash .logo img {
    height: 100%;
}

#splash #loader {
    width: 16rem;
    text-align: center;
}

#splash #loader text.text-body {
    font-size: 5rem;
    stroke-width: 2;
    font-weight: 900;
    stroke: #000000;
    text-transform: uppercase;
    font-family: 'Gotham';
    animation: 6s infinite alternate logo-stroke;
}

#splash .tagline {
    font-weight: 700;
}

#splash.invisible {
    opacity: 0;
    visibility: hidden;
}

#actionbar {
    flex: .15;
    row-gap: 1rem;
    padding: 1rem;
    display: flex;
    border-radius: .4rem;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #00000020;
}

#actionbar > .header,
.main-content > .the-bar {
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main-content > .the-bar {
    height: auto;
    font-size: .8rem;
    color: #27272730;
    padding-bottom: 1rem;
    border-bottom: 1px solid #27272730;
}

#actionbar .logo {
    width: 50%;
    height: 100%;
    display: flex;
}

#actionbar .logo img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

#actionbar .searchbar {
    display: flex;
    border-radius: .4rem;
    border: 1px solid #00000020;
    background-color: #f8f8f8;
}

#actionbar > .divider {
    width: 50%;
    opacity: .1;
    height: 1px;
    border: none;
    margin-top: 1rem;
    background-color: #272727;
}

#actionbar .searchbar input::placeholder {
    color: #27272780;
}

#actionbar .searchbar input {
    width: 80%;
    border: none;
    outline: none;
    padding: .75rem;
    background: none;
    font-weight: 600;
    color: #272727;
    border-radius: inherit;
}

#actionbar .searchbar button {
    width: 20%;
    border: none;
    display: grid;
    cursor: pointer;
    background: none;
    place-content: center;
}

#actionbar .searchbar button svg {
    opacity: .2;
    width: 18px;
    height: 18px;
    transition: color .5s ease,
                opacity .5s ease;
}

#actionbar .searchbar button:hover svg {
    opacity: .5;
    color: #a229da;
}

.menu {
    display: flex;
    row-gap: .5rem;
    list-style: none;
    flex-direction: column;
}

.menu-title {
    opacity: .4;
    color: #272727;
    font-size: .8rem;
    font-weight: 500;
    margin-bottom: .25rem;
}

.menu li {
    cursor: pointer;
    border-radius: .3rem;
}

.menu li a,
.menu li a:visited,
.menu li a:active {
    height: 100%;
    display: flex;
    font-weight: 600;
    color: #272727;
    font-size: .8rem;
    position: relative;
    align-items: center;
    text-decoration: none;
    border-radius: inherit;
    padding: .5rem 0 .5rem .5rem;
    border: 1px solid transparent;
    
    transition: color .3s ease,
                border-color .3s ease,
                background-color .3s ease;
}

.menu li a:hover {
    background-color: #F8EAFE;
    border-color: #B42EF250;
}

.menu li a.active {
    color: #000000;
    border: 1px solid #00000020;
}

.menu li a.active::after{
    top: 50%;
    left: -1px;
    width: 5px;
    height: 60%;
    content: '';
    position: absolute;
    border-radius: 3px;
    background-color: #B42EF2;
    transform: translate(-50%, -50%);
}

.menu li a svg {
    width: 16px;
    height: 16px;
    margin-inline-end: .5rem;
}

nav {
    display: none;
}

.nav-toggle {
    display: none;
}

.main-content {
    flex: 1;
    padding: 1rem;
    overflow-y: scroll;
    border-radius: .5rem;
    background-color: #ffffff;
    border: 1px solid #00000020;
}

.main-content > .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-content > .header h1,
.main-content > .header h1 span {
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Figtree';
    /* text-transform: uppercase; */
}

.header h1 span {
    margin: 0;
    color: #B42EF2;
}

.main-content > .header p {
    opacity: .25;
    font-size: .9rem;
}

.content-grid {
    padding: 0 1rem;
    height: min-content;
    columns: 18rem auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr)); */
}

.content-grid::-webkit-scrollbar {
    display: none;
}

.card {
    padding: 1rem;
    position: relative;
    border-radius: 6px;
    break-inside: avoid;
    margin-bottom: 1rem;
    /* animation-delay: 6.5s; */
    background-color: #ffffff;
    transition: .3s box-shadow ease,
                .3s height ease;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.card.menu-toggled {
    min-height: 14rem;
}

.card-header {
    display: flex;
    margin-bottom: .5rem;
    justify-content: space-between;
}

.toggle-dropdown {
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    margin-top: .1rem;
    border-radius: .2rem;
    align-self:flex-start;
    transition: color .3s ease;
}

.toggle-dropdown:hover {
    color: #B42EF2;
}

.card .body {
    /* padding: .5rem; */
    border-radius: 4px;
}

.card .body.ordered {
    display: flex;
    flex-direction: column;
}

.card .menu {
    top: 0;
    right: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    visibility: hidden;
    position: absolute;
    border-radius: inherit;
    background-color: #ffffff;
    transition: opacity .5s ease,
                visibility 0s ease .5s;
}

.card .menu.expanded {
    opacity: 1;
    padding: 1rem;
    visibility: visible;
    transition: opacity .3s ease,
                visibility 0s ease;
}

.menu-header {
    margin: 0;
    display: flex;
    visibility: hidden;
    padding: 0 0 1rem 0;
    height: fit-content;
    justify-content: space-between;
    border-bottom: 1px solid #00000020;
}

.menu.expanded .menu-header {
    visibility: visible;
}

.menu.expanded .card {
    min-height: 30rem;
}

.menu-header h4 {
    display: grid;
    place-content: center;
}

.menu ul {
    display: flex;
    row-gap: .5rem;
    list-style: none;
    flex-direction: column;
}

.messages {
    z-index: 99;
    right: 3rem;
    bottom: 3rem;
    padding: 1rem;
    position: fixed;
    max-width: 22rem;
    list-style: none;
    text-align: center;
    border-radius: 1rem;
    background-color: #ffffff;
    border: 1px solid #00000010;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.messages ion-icon {
    font-size: 2rem;
    fill: #B42EF2;
    margin-bottom: 1rem;
}

.messages li {
    color: #000000;
    /* font-size: 1.2rem; */
    text-align: center;
}

.close-modal {
    top: 1rem;
    right: 1rem;
    border: none;
    cursor: pointer;
    background: none;
    position: absolute;
}

.close-modal ion-icon {
    color: #000000;
    font-size: 1.6rem;
    transition: color .5s ease;
}

.close-modal:hover ion-icon {
    color: #B42EF2;
}

.page-controls {
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
}

.page-controls a {
    padding: .5rem;
    color: #000000;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.page-controls a.disabled {
    opacity: .5;
    cursor: not-allowed;
    pointer-events: none;
}