* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Figtree';
}

body {
    height: 100vh;
    background: #eeeeee;
}

.container {
    height: 100%;
}

#splash {
    inset: 0;
    z-index: 99;
    display: flex;
    position: fixed;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    transition: opacity .4s ease, visibility .4s ease;
}

#splash .logo {
    height: 16rem;
}

#splash .logo img {
    height: 100%;
}

#splash #loader {
    width: 16rem;
    text-align: center;
}

#splash #loader text.text-body {
    font-size: 5rem;
    stroke-width: 2;
    font-weight: 900;
    stroke: #000000;
    text-transform: uppercase;
    font-family: 'Gotham';
    animation: 6s infinite alternate logo-stroke;
}

#splash .tagline {
    font-weight: 700;
}

#splash.invisible {
    opacity: 0;
    visibility: hidden;
}

nav {
    display: none;
}

#header {
    height: 12rem;
    background-color: #000000;
}

#header .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#header .title {
    color: #ffffff;
    font-size: 3.2rem;
    font-family: 'Gotham';
    text-transform: uppercase;
    animation-delay: 6s;
}

#header .tagline {
    color: #B42EF2;
    animation-delay: 6.5s;
}

.messages {
    z-index: 99;
    right: 3rem;
    bottom: 3rem;
    padding: 1rem;
    position: fixed;
    max-width: 22rem;
    list-style: none;
    text-align: center;
    border-radius: 1rem;
    background-color: #ffffff;
    border: 1px solid #00000010;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.messages ion-icon {
    font-size: 2rem;
    fill: #B42EF2;
    margin-bottom: 1rem;
}

.messages li {
    color: #000000;
    /* font-size: 1.2rem; */
    text-align: center;
}

.close-modal {
    top: 1rem;
    right: 1rem;
    border: none;
    cursor: pointer;
    background: none;
    position: absolute;
}

.close-modal ion-icon {
    color: #000000;
    font-size: 1.6rem;
    transition: color .5s ease;
}

.close-modal:hover ion-icon {
    color: #B42EF2;
}