* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Gotham';
}

body {
    height: 100vh;
    background: #eeeeee;
}

.container {
    height: 100%;
}

.body-container {
    padding: 1rem;
    display: flex;
    column-gap: 1rem;
}

#splash {
    inset: 0;
    z-index: 99;
    display: flex;
    position: fixed;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    transition: opacity .4s ease, visibility .4s ease;
}

#splash .logo {
    height: 16rem;
}

#splash .logo img {
    height: 100%;
}

#splash #loader {
    width: 16rem;
    text-align: center;
}

#splash #loader text.text-body {
    font-size: 5rem;
    stroke-width: 2;
    font-weight: 900;
    stroke: #000000;
    text-transform: uppercase;
    font-family: 'Gotham';
    animation: 6s infinite alternate logo-stroke;
}

#splash .tagline {
    font-weight: 700;
}

#splash.invisible {
    opacity: 0;
    visibility: hidden;
}

#actionbar {
    flex: .15;
    row-gap: 1rem;
    padding: 1rem;
    display: flex;
    border-radius: .4rem;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #00000020;
}

#actionbar .logo {
    height: 6rem;
    display: flex;
    justify-content: center;
}

#actionbar .logo img {
    height: 100%;
}

#actionbar .searchbar {
    display: flex;
    border-radius: .4rem;
    border: 2px solid #00000020;
}

#actionbar .searchbar input {
    width: 80%;
    border: none;
    outline: none;
    padding: .75rem;
    color: #27272780;
    border-radius: inherit;
    background-color: #ffffff;
}

#actionbar .searchbar button {
    width: 20%;
    border: none;
    display: grid;
    cursor: pointer;
    background: none;
    place-content: center;
}

#actionbar .searchbar button svg {
    opacity: .2;
    width: 18px;
    height: 18px;
    transition: color .5s ease,
                opacity .5s ease;
}

#actionbar .searchbar button:hover svg {
    opacity: .5;
    color: #a229da;
}

#actionbar .menu {
    display: flex;
    row-gap: .5rem;
    list-style: none;
    flex-direction: column;
}

#actionbar .menu li {
    border-radius: .3rem;
}

#actionbar .menu li a,
#actionbar .menu li a:visited,
#actionbar .menu li a:active {
    height: 100%;
    display: flex;
    color: #272727;
    font-size: .8rem;
    position: relative;
    align-items: center;
    text-decoration: none;
    border-radius: inherit;
    padding: .5rem 0 .5rem .5rem;
    border: 1px solid transparent;
    
    transition: color .3s ease,
                border-color .3s ease,
                background-color .3s ease;
}

#actionbar .menu li a:hover {
    background-color: #F8EAFE;
    border-color: #B42EF250;
}

#actionbar .menu li a.active {
    color: #B42EF2;
    border: 1px solid #B42EF2;
}

#actionbar .menu li a.active::after{
    top: 50%;
    left: -1px;
    width: 5px;
    height: 60%;
    content: '';
    position: absolute;
    border-radius: 3px;
    background-color: #B42EF2;
    transform: translate(-50%, -50%);
}

#actionbar .menu li a svg {
    width: 16px;
    height: 16px;
    margin-inline-end: .5rem;
}

nav {
    display: none;
}

.nav-toggle {
    display: none;
}

.main-content {
    flex: 1;
    /* height: 100%; */
    overflow-y: scroll;
    border-radius: .5rem;
    background-color: #ffffff;
    border: 1px solid #00000020;
}

.header {
    display: flex;
    height: 10rem;
    padding: 0 1rem;
    flex-direction: column;
    justify-content: center;
}

.header h1,
.header h1 span {
    font-size: 3rem;
    font-weight: 500;
    font-family: 'Gotham';
    text-transform: uppercase;
    margin-inline-start: 1rem;
}

.header h1 span {
    margin: 0;
    color: #B42EF2;
}

.header p {
    opacity: .25;
    font-size: .9rem;
    margin-inline-start: 1rem;
}

.messages {
    z-index: 99;
    right: 3rem;
    bottom: 3rem;
    padding: 1rem;
    position: fixed;
    max-width: 22rem;
    list-style: none;
    text-align: center;
    border-radius: 1rem;
    background-color: #ffffff;
    border: 1px solid #00000010;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.messages ion-icon {
    font-size: 2rem;
    fill: #B42EF2;
    margin-bottom: 1rem;
}

.messages li {
    color: #000000;
    /* font-size: 1.2rem; */
    text-align: center;
}

.close-modal {
    top: 1rem;
    right: 1rem;
    border: none;
    cursor: pointer;
    background: none;
    position: absolute;
}

.close-modal ion-icon {
    color: #000000;
    font-size: 1.6rem;
    transition: color .5s ease;
}

.close-modal:hover ion-icon {
    color: #B42EF2;
}