/* Gotham Font */
@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham/Gotham-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham/Gotham-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}