:root {
    --magenta: #7613A4;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'PPMori';
    box-sizing: border-box;
}

html{
    overflow: hidden;
}

#overlay {
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    display: flex;
    /* display: none; */
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: #00000070;
}

#overlay .content {
    width: 80%;
    padding: 2rem;
    display: flex;
    align-items: center;
    height: min-content;
    border-radius: .5rem;
    flex-direction: column;
    background-color: #ffffff;
}

#overlay .content .site-icon {
    height: 5rem;
    color: var(--magenta);
}

#overlay .content h1 {
    margin: 1rem 0;
}

#overlay .content p {
    text-align: center;
}

.site-header {
    font-weight: 600;
}

.site-p {
    font-size: .8rem;
}

.site-btn {
    font-size: .9rem;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: .25rem;
}

nav {
    width: 100%;
    height: 5rem;
    display: flex;
    padding: 0 .5rem;
    align-items: center;
    justify-content: space-between;
}

.nav-logo img {
    max-height: 4rem;
}

nav .menu-icon {
    font-size: 1.4rem;
    margin-right: .5rem;
}

header .content {
    padding: 2rem 0;
}

header .site-header {
    font-weight: 600;
    text-align: center;
}

header .site-header span {
    color: var(--magenta);
}

header .site-p {
    width: 70%;
    margin: 1.5rem auto;
    text-align: center;
}

header .site-btn {
    display: flex;
    width: 15rem;
    color: #ffffff;
    margin: 1rem auto;
    position: relative;
    padding: 1rem .5rem;
    background: #00000060;
}

header .site-btn::after {
    top: 3px;
    right: 3px;
    width: 4rem;
    content: '>';
    display: grid;
    position: absolute;
    place-content: center;
    border-radius: .25rem;
    height: calc(100% - 6px);
    background: #000000;
}

header .graphic,
header .graphic img {
    width: 100%;
}

header .graphic img.desktop {
    display: none;
}