#lists .header {
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;
}

.content-grid {
    padding: 1rem;
    height: min-content;
    columns: 18rem auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr)); */
}

.content-grid::-webkit-scrollbar {
    display: none;
} 

.list {
    padding: 1rem;
    border-radius: 6px;
    height: min-content;
    break-inside: avoid;
    margin-bottom: 1rem;
    animation-delay: 6.5s;
    background-color: #ffffff;
    transition: .3s box-shadow ease;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.list:hover {
    box-shadow: #E2A8FE 0px 5px 15px;
}

.card-header {
    margin-bottom: .5rem;
}

.card-header h2 {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0 .5rem;
    font-family: 'Helvetica Neue';
    border-left: .4rem solid #B42EF2;
}

.card-header p {
    opacity: .4;
    margin: .5rem 0;
    font-size: .8rem;
}

.listitem {
    font-weight: 600;
}

.card-body {
    padding: .5rem;
    border-radius: 4px;
    background-color: #E2A8FE;
}

.card-footer button {
    border: none;
    outline: none;
    color: #ffffff;
    padding: .5rem 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    background-color: #B42EF2;
}

.listitem {
    width: 100%;
    display: flex;
    font-size: 14px;
    overflow: hidden;
    border-radius: 4px;
    align-items: center;
}

.listitem p {
    padding: 0 .2rem;
}

.new-list-card {
    padding: 0;
    height: 16rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-list-card button {
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
    background: none;
}

.new-list-card button ion-icon {
    font-size: 5rem;
    color: #00000040;
    transition: color .5s ease;
}

.new-list-card button:hover ion-icon {
    color: #B42EF2;
}

.list-creation-modal {
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    background: #F3F5F4;
    justify-content: center;
    flex-direction: column;
    transition: opacity .5s ease,
                visibility .5s ease;
}

.list-creation-modal.minimized {
    opacity: 0;
    visibility: hidden;
}

.list-creation-modal h2 {
    font-size: 2rem;
    text-align: center;
}

.list-creation-modal img {
    width: 30%;
}

.list-creation-modal .header,
.list-creation-modal form {
    padding: 1rem;
    border-radius: 1rem;
    width: min-content;
    background-color: #ffffff;
    border: 1px solid #00000010;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.list-creation-modal .header {
    width: auto;
    display: flex;
    padding: 1rem 0;
    position: relative;
    align-items: center;
    margin-bottom: 2rem;
    flex-direction: column;
    justify-content: center;
}

.list-creation-modal form div {
    display: flex;
    flex-direction: column;
}

.list-creation-modal form div label {
    margin-bottom: .5rem;
}

.list-creation-modal form div input,
.list-creation-modal form div textarea {
    outline: none;
    padding: .5rem;
    resize: none;
    margin-bottom: 1rem;
    border-radius: .25rem;
    border: 1px solid #00000020;
    background-color: #fafafa;
}

.list-creation-modal form button {
    width: 8rem;
    outline: none;
    padding: .5rem;
    cursor: pointer;
    background: none;
    border-radius: .25rem;
    transition: color .2s ease,
                background-color .5s ease;
}

.list-creation-modal form button:hover {
    color: #ffffff;
}

.list-creation-modal .submit {
    border: 1px solid #B42EF2;
}

.list-creation-modal .cancel {
    border: 1px solid #d43232;
}

.list-creation-modal .submit:hover {
    background-color: #B42EF2;
}

.list-creation-modal .cancel:hover {
    background-color: #d43232;
}