.content-grid {
    padding: 1rem;
    columns: 18rem auto;
    /* grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr)); */
}

.list {
    padding: 1rem;
    border-radius: 6px;
    height: min-content;
    break-inside: avoid;
    margin-bottom: 1rem;
    animation-delay: 6.5s;
    transition: .3s box-shadow ease;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.list:hover {
    box-shadow: #E2A8FE 0px 5px 15px;
}

.card-header {
    padding: 0 .6rem;
    margin-bottom: .5rem;
    border-left: .4rem solid #B42EF2;
}

.card-header h2 {
    margin-bottom: .5rem;
}

.card-header p,
.listitem {
    font-weight: 600;
}

.card-body {
    padding: .5rem;
    border-radius: 4px;
    background-color: #E2A8FE;
}

.listitem {
    width: 100%;
    display: flex;
    font-size: 14px;
    overflow: hidden;
    border-radius: 4px;
    align-items: center;
}

.listitem > :first-child {
    display: grid;
    width: 1.2rem;
    height: 1.2rem;
    color: #ffffff;
    border-radius: 50%;
    place-items: center;
    background-color: #B42EF2;
}

.listitem > :last-child {
    padding: 0 .2rem;
}

.listitem:not(:last-child) {
    margin-bottom: 0.5rem;
}