.content-grid {
    padding: 1rem;
    columns: 18rem auto;
    /* grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr)); */
}

.list {
    padding: 1rem;
    border-radius: 6px;
    height: min-content;
    break-inside: avoid;
    margin-bottom: 1rem;
    animation-delay: 6.5s;
    transition: .3s box-shadow ease;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.list:hover {
    box-shadow: #E2A8FE 0px 5px 15px;
}

.card-header {
    padding: 0 .6rem;
    margin-bottom: .5rem;
    border-left: .4rem solid #B42EF2;
}

.card-header h2 {
    margin-bottom: .5rem;
}

.card-header p,
.listitem {
    font-weight: 600;
}

.card-body {
    padding: .5rem;
    border-radius: 4px;
    background-color: #E2A8FE;
}

.listitem {
    width: 100%;
    display: flex;
    font-size: 14px;
    overflow: hidden;
    border-radius: 4px;
    align-items: center;
}

.listitem > :first-child {
    display: grid;
    width: 1.2rem;
    height: 1.2rem;
    color: #ffffff;
    border-radius: 50%;
    place-items: center;
    background-color: #B42EF2;
}

.listitem > :last-child {
    padding: 0 .2rem;
}

.listitem:not(:last-child) {
    margin-bottom: 0.5rem;
}

#list-creation-modal {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    background: #ffffff;
    justify-content: center;
    flex-direction: column;
}

#list-creation-modal .header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    flex-direction: column;
    justify-content: center;
}

#list-creation-modal h2 {
    font-size: 2rem;
    text-align: center;
}

#list-creation-modal img {
    width: 50%;
}

#list-creation-modal form {
    padding: 1rem;
    border-radius: 1rem;
    width: min-content;
    background-color: #ffffff;
    border: 1px solid #00000010;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

#list-creation-modal form div {
    display: flex;
    flex-direction: column;
}

#list-creation-modal form div label {
    margin-bottom: .5rem;
}

#list-creation-modal form div input,
#list-creation-modal form div textarea {
    outline: none;
    padding: .5rem;
    resize: none;
    margin-bottom: 1rem;
    border-radius: .25rem;
    border: 1px solid #00000020;
}

#list-creation-modal form button {
    width: 8rem;
    outline: none;
    padding: .5rem;
    margin: 1rem 0;
    cursor: pointer;
    background: none;
    border-radius: .25rem;
    transition: color .2s ease,
                background-color .5s ease;
}

#list-creation-modal form button:hover {
    color: #ffffff;
}

#list-creation-modal .submit {
    border: 1px solid #B42EF2;
}

#list-creation-modal .cancel {
    border: 1px solid #d43232;
}

#list-creation-modal .submit:hover {
    background-color: #B42EF2;
}

#list-creation-modal .cancel:hover {
    background-color: #d43232;
}