.main-content .header {
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;
}

.card-header h2 {
    margin: 0;
    font-weight: 500;
    padding: 0 .5rem;
    font-size: 1.4rem;
    font-family: 'Helvetica Neue';
    border-left: .4rem solid #B42EF2;
}

.card .description {
    opacity: .4;
    display: block;
    margin: .75rem 0;
    font-size: .8rem;
}

.listitem {
    display: inline-flex;
    margin: .3rem 0;
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    width: fit-content;
    white-space: nowrap;
    border-radius: 1rem;
    align-items: center;
    padding: .1rem .4rem;
    text-overflow: ellipsis;
    background-color: #00000007;
}

.listitem span {
    display: grid;
    width: 1.2rem;
    height: 1.2rem;
    color: #ffffff;
    font-size: 12px;
    border-radius: 50%;
    place-content: center;
    background: #000000;
    margin-inline-end: .5rem;
}

.new-list-card {
    padding: 0;
    height: 16rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-list-card button {
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
    background: none;
}

.new-list-card button ion-icon {
    font-size: 5rem;
    color: #00000040;
    transition: color .5s ease;
}

.new-list-card button:hover ion-icon {
    color: #B42EF2;
}

.list-creation-modal {
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    visibility: hidden;
    align-items: center;
    background: #F3F5F4;
    justify-content: center;
    flex-direction: column;
    transition: opacity .5s ease,
                visibility .5s ease;
}

.list-creation-modal.expanded {
    opacity: 1;
    visibility: visible;
}

.list-creation-modal h2 {
    font-size: 1.6rem;
    text-align: center;
}

.list-creation-modal img {
    width: 30%;
}

.list-creation-modal .header,
.list-creation-modal form {
    padding: 1rem;
    width: min-content;
    border-radius: 1rem;
    background-color: #ffffff;
    border: 1px solid #00000010;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.list-creation-modal .header {
    width: auto;
    display: flex;
    padding: 1rem 0;
    position: relative;
    align-items: center;
    margin-bottom: 2rem;
    flex-direction: column;
    justify-content: center;
}

.list-creation-modal .header .toggle-list-modal {
    top: 1rem;
    right: 1rem;
    border: none;
    cursor: pointer;
    background: none;
    font-size: 1.6rem;
    position: absolute;
    transition: opacity .3s ease;
}

.list-creation-modal .header .toggle-list-modal:hover {
    opacity: .5;
}

.list-creation-modal form div {
    display: flex;
    flex-direction: column;
}

.list-creation-modal form div label {
    margin-bottom: .5rem;
}

.list-creation-modal form div input,
.list-creation-modal form div textarea {
    outline: none;
    padding: .5rem;
    resize: none;
    margin-bottom: 1rem;
    border-radius: .25rem;
    border: 1px solid #00000020;
    background-color: #fafafa;
}

.list-creation-modal form button {
    width: 8rem;
    outline: none;
    padding: .5rem;
    cursor: pointer;
    background: none;
    border-radius: .25rem;
    transition: color .2s ease,
                background-color .5s ease;
}

.list-creation-modal form button:hover {
    color: #ffffff;
}

.list-creation-modal .submit {
    border: 1px solid #B42EF2;
}

.list-creation-modal .cancel {
    border: 1px solid #d43232;
}

.list-creation-modal .submit:hover {
    background-color: #B42EF2;
}

.list-creation-modal .cancel:hover {
    background-color: #d43232;
}