#lobby {
    height: 100vh;
}

.lobby-container {
    padding: 1rem;
    display: flex;
    column-gap: 1rem;
}

.actionbar {
    flex: .15;
    border-radius: .5rem;
    background-color: #ffffff;
    border: 1px solid #00000020;
}

.main-content {
    flex: .85;
    border-radius: .5rem;
    border: 1px solid #00000020;
}