@media screen and (min-width: 240px) and (max-width: 1200px) {
    #splash .logo {
        height: 6rem;
    }

    #splash #loader {
        height: 4rem;
    }

    #splash #loader text.text-body {
        font-size: 4rem;
        stroke-width: 1;
        font-weight: 900;
    }
}