@media screen and (min-width: 240px) and (orientation: portrait) {
    .body-container {
        gap: .5rem 0;
        padding: .5rem;
        flex-direction: column;
    }

    #splash .logo {
        height: 6rem;
    }

    #splash #loader {
        height: 4rem;
    }

    #splash #loader text.text-body {
        font-size: 4rem;
        stroke-width: 1;
        font-weight: 900;
    }

    nav {
        height: 6rem;
        display: flex;
        position: relative;
        align-items: center;
        border-radius: .4rem;
        justify-content: center;
        background-color: #ffffff;
        border: 1px solid #00000020;
    }
    
    .nav-logo {
        width: 50%;
        height: 100%;
    }
    
    .nav-logo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .nav-toggle {
        border: none;
        display: grid;
        cursor: pointer;
        background: none;
        place-items: center;
    }

    nav > .nav-toggle {
        top: 50%;
        left: .5rem;
        position: absolute;
        transform: translateY(-50%);
    }

    #actionbar .header {
        position: relative;
    }

    #actionbar .nav-toggle {
        display: grid;
        place-items: center;
    }

    .nav-toggle svg {
        color: #000000;
    }

    #actionbar {
        top: 0;
        left: 0;
        z-index: 99;
        width: 75vw;
        border: none;
        height: 100vh;
        padding: .5rem;
        position: fixed;
        transform: translateX(-100%);
        border-radius: 0 !important;
        transition: transform .5s ease;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    #actionbar.expanded {
        transform: translateX(0);
    }

    .main-content > .the-bar {
        display: none;
        visibility: hidden;
    }
    
    .main-content > .header {
        margin: 0;
    }

    .main-content > .header h1,
    .main-content > .header h1 span {
        font-size: 1.6rem;
    }

    /* Lists */
    .content-grid {
        padding: 0;
    }

    .list {
        height: min-content;
    }

    .list .card-header h2 {
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width: 768px) and (orientation: portrait) {
    #actionbar {
        width: 40vw;
    }

}

@media screen and (min-width: 1240px) and (max-width: 1650px) {
    #actionbar {
        flex: .2;
    }    
}