@media screen and (min-width: 240px) and (max-width: 1200px) {
    #splash .logo {
        height: 6rem;
    }

    #splash #loader {
        height: 4rem;
    }

    #splash #loader text.text-body {
        font-size: 4rem;
        stroke-width: 1;
        font-weight: 900;
    }

    .body-container {
        gap: .5rem 0;
        padding: .5rem;
        flex-direction: column;
    }

    nav {
        height: 6rem;
        display: flex;
        position: relative;
        align-items: center;
        border-radius: .4rem;
        justify-content: center;
        background-color: #ffffff;
        border: 1px solid #00000020;
    }
    
    .nav-logo {
        height: 100%;
    }
    
    .nav-logo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    #nav-toggle {
        top: 50%;
        left: .5rem;
        border: none;
        cursor: pointer;
        background: none;
        position: absolute;
        transform: translateY(-50%);
    }

    #nav-toggle svg {
        color: #000000;
    }

    .actionbar {
        top: 0;
        left: 0;
        width: 85vw;
        border: none;
        height: 100vh;
        position: fixed;
        transform: translateX(-100%);
        border-radius: 0 !important;
        transition: transform .5s ease;
    }

    .actionbar.expanded {
        transform: translateX(0);
    }
}