@media screen and (min-width: 240px) and (max-width: 1200px) {
    #splash .logo {
        height: 6rem;
    }

    #splash #loader {
        height: 4rem;
    }

    #splash #loader text.text-body {
        font-size: 4rem;
        stroke-width: 1;
        font-weight: 900;
    }

    nav {
        height: 6rem;
        margin: 1rem;
        display: flex;
        align-items: center;
        border-radius: .4rem;
        justify-content: center;
        background-color: #ffffff;
        border: 1px solid #00000020;
    }
    
    .nav-logo {
        height: 100%;
    }
    
    .nav-logo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .actionbar {
        top: 0;
        left: 0;
        width: 85vw;
        border: none;
        height: 100vh;
        position: fixed;
        border-radius: 0 !important;
    }
}