{% load static %}

<aside id="actionbar">
    <div class="header">
        <div class="logo">
            <img src="{% static 'images/logos/text - slim.png' %}" alt="Erica logo">
        </div>
        <button type="menu" class="nav-toggle">
            <i data-lucide="panel-left-close"></i>
        </button>
    </div>
    <div class="searchbar">
        <input 
            name="search_query"
            type="search"
            class="searchbar-input"
            value="{{search_query}}"
            placeholder="Search across {% if sector == 'Lobby' or sector == 'Search' %}apps{% else %}{{sector}}{% endif %}..."
            
            hx-get="/search"
            hx-trigger="keyup changed delay:500ms"
            hx-target=".main-content"
            hx-push-url="true"
            >
        <button type="submit">
            <i data-lucide="circle-arrow-right"></i>
        </button>    
    </div>
    <hr class="divider">
    <ul class="menu" data-target-value="{{ sector }}">
        <li>
            <a class="menu-link"
                hx-get="/lobby"
                hx-target=".main-content"
                hx-push-url="true"
            >
                <i data-lucide="House"></i>
                Lobby
            </a>
        </li>
        <li>
            <a class="menu-link"
                hx-get="lists"
                hx-target=".main-content"
                hx-push-url="true"
            >
                <i data-lucide="clipboard-list"></i>
                Lists
            </a>
        </li>
        <li>
            <a class="menu-link" href="">
                <i data-lucide="cooking-pot"></i>
                Recipes
            </a>
        </li>
        <li>
            <a class="menu-link" href="">
                <i data-lucide="list-checks"></i>
                Tasks
            </a>
        </li>
        <li>
            <a class="menu-link" href="">
                <i data-lucide="calendar-sync"></i>
                Reminders
            </a>
        </li>
    </ul>
</aside>