{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'lists.css' %}">
{% endblock styles %}

{% block body %}
<section id="header">
    <div class="container">
        <h1 class="title animate__animated animate__fadeInUp">Lists</h1>
        <p class="tagline animate__animated animate__fadeInUp">Everything... Organized.</p>
    </div>
</section>
<section id="lists">
    <div class="container content-grid">
        {% for list in lists %}
            <div class="card list animate__animated animate__fadeInUp">
                <div class="card-header">
                    <h2>{{list.title}}</h2>
                    {% if list.description %}
                        <p>{{list.description}}</p>
                    {% endif %}
                </div>
                <div class="card-body">
                    {% for listitem in list.listItems.all %}
                        <div class="listitem">
                            <p>{{listitem}}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <div class="card new-list-card list animate__animated animate__fadeInUp">
            <button class="toggle-modal">
                <ion-icon name="add-circle-outline"></ion-icon>
            </button>
        </div>
    </div>
</section>
<section id="list-creation-modal" class="minimized">
    <div class="header">
        <button class="toggle-modal">
            <ion-icon name="close-circle"></ion-icon>
        </button>
        <img src="https://imgur.com/1zvy9gA.png" alt="Erica logo, depicting a pair of spectacles, and text that spells 'ERICA' in all caps.">
        <h2>Create a new list</h2>
    </div>
    <form action="{% url 'new_list' %}" method="post">
        {% csrf_token %}
        <div>
            <label for="id_title">Title:</label>
            <input type="text" name="title" required id="id_title">
        </div>
        
        <div>
            <label for="id_description">Description:</label>
            <input type="text" name="description" id="id_description">
        </div>
        
        <div>
            <label for="id_listItems">List items:</label>
            <textarea name="listItems" cols="40" rows="10" id="id_listItems" placeholder="separate by 'comma, space'"></textarea>
        </div>
        
        <!-- This field does nothing at the moment.
             Also, remove this line after uncommenting <div>
            <label for="id_ordered">Ordered:</label>
            <input type="checkbox" name="ordered" id="id_ordered">
        </div> -->
        
        <button type="submit" class="submit">Create List</button>
        <button class="cancel" onclick="minimizeModal()">Cancel</button>
    </form>
</section>

{% endblock body %}