{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'lists.css' %}">
{% endblock styles %}

{% block body %}
<section id="header">
    <div class="container">
        <h1 class="title animate__animated animate__fadeInUp">Lists</h1>
        <p class="tagline animate__animated animate__fadeInUp">Everything... Organized.</p>
    </div>
</section>
<section id="lists">
    <div class="container content-grid">
        <div class="card list">
            <div class="card-header">
                <h2>Monthly Budget</h2>
                <p>Essential day-to-day Items to be fit into the monthly budget.</p>
            </div>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
        </div>
        <div class="card list">
            <div class="card-header">
                <h2>Monthly Budget</h2>
                <p>Essential day-to-day Items to be fit into the monthly budget.</p>
            </div>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
        </div>
        <div class="card list">
            <div class="card-header">
                <h2>Monthly Budget</h2>
                <p>Essential day-to-day Items to be fit into the monthly budget.</p>
            </div>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
        </div>
        <div class="card list">
            <div class="card-header">
                <h2>Monthly Budget</h2>
                <p>Essential day-to-day Items to be fit into the monthly budget.</p>
            </div>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
        </div>
        <div class="card list">
            <div class="card-header">
                <h2>Monthly Budget</h2>
                <p>Essential day-to-day Items to be fit into the monthly budget.</p>
            </div>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
        </div>
        <div class="card list">
            <div class="card-header">
                <h2>Monthly Budget</h2>
                <p>Essential day-to-day Items to be fit into the monthly budget.</p>
            </div>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
        </div>
        <div class="card list">
            <div class="card-header">
                <h2>Monthly Budget</h2>
                <p>Essential day-to-day Items to be fit into the monthly budget.</p>
            </div>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
        </div>
        <div class="card list">
            <div class="card-header">
                <h2>Monthly Budget</h2>
                <p>Essential day-to-day Items to be fit into the monthly budget.</p>
            </div>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
            <p class="listitem">List Item</p>
        </div>
    </div>
</section>
{% endblock body %}