{% load static %}

<div id="splash">
    <div class="logo">
        <img src="{% static 'images/logos/textless - slim - blackstroke - transparent.png' %}" alt="Erica logo, depicting a pair of spectacles" class="splash-logo-img animate__animated animate__animated animate__fadeIn">
    </div>
    <svg id="loader" viewBox="0 0 400 160">
        <text x="50%" y="50%" text-anchor="middle" class="text-body">
            
            {% if sector == "Lobby" %}
                Erica
            {% else %}
                {{sector}}
            {% endif %}
        </text>
    </svg>
    <!-- <p class="tagline">Efficiency. Productivity. Convenience</p> -->
</div>

<script>
    //Script for timed splash
    const page_title = "{{ sector }}";

    document.addEventListener('DOMContentLoaded', () => {
        setTimeout(function() {
            splash.classList.toggle('invisible');
        }, 6000);
    });
</script>