* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

#splash {
    inset: 0;
    z-index: 99;
    display: flex;
    position: fixed;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    transition: opacity .4s ease, visibility .4s ease;
}

.splash-logo {
    height: 10rem;
    transform: translateY(-3rem);
}

#splash-loader {
    width: 16rem;
    text-align: center;
}

#splash-loader text.text-body {
    font-size: 5rem;
    stroke-width: 2;
    font-weight: 700;
    stroke: #000000;
    font-family: 'Gotham';
    animation: 6s infinite alternate logo-stroke;
}

#splash.invisible {
    opacity: 0;
    visibility: hidden;
}